.comment{data:{id: comment.id}}
  %p.comment-name
    = comment.author_name
    says:
  %p.comment-content
    = comment.content
  %p.comment-date.small
    Created on
    = print_date(comment.created_at)
  .comment-actions
    %a.reply-form(href='#') Reply