.admin-body
  background-color: $admin-bg-color
.admin-header
  .navbar.navbar-inverse
    border-bottom: 0 none
    @media screen and (min-width: $screen-sm)
      min-height: 0
    .navbar-brand
      i
        margin-right: 5px
      @media screen and (min-width: $screen-sm)
        font-size: 1em
        height: auto
        padding:
          top: 5px
          bottom: 5px
    .navbar-nav
      > li
        > a
          cursor: pointer
          @media screen and (min-width: $screen-sm)
            padding:
              top: 5px
              bottom: 5px
      .dropdown-menu
        border-top: 0 none
        @media screen and (min-width: $screen-sm)
          background-color: $admin-dropdown-open-color
          > li
            > a
              color: $gray-light
              &:hover,
              &:focus
                background-color: $navbar-inverse-bg
                color: $component-active-color
.admin-menu
  float: left
  background-color: $navbar-inverse-bg
  width: 150px
  min-height: 100%
  margin-top: -50px
  > ul
    margin-top: 65px
    padding: 0
    > li
      list-style: none
      padding: 0.5em 0 0.5em 1.2em
      a
        display: block
        color: $gray-light
        cursor: pointer
        &:hover,
        &:active
          color: #fff
          text-decoration: none
        i
          font-size: 1.25em
          margin-right: 5px
          vertical-align: top
      &.open
        position: relative
        background-color: $admin-dropdown-open-color
        .dropdown-menu
          left: 149px
          top: -4px
          @include border-left-radius(0)
        > a
          color: #fff
  .dropdown-menu
    background-color: $admin-dropdown-open-color
    > li
      > a
        color: $gray-light
        &:hover,
        &:focus
          background-color: $navbar-inverse-bg
          color: $component-active-color
.admin-content
  margin-left: 150px
