%nav.navbar.navbar-default(role="navigation")
  .container
    .navbar-header
      %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
        %span.sr-only
          Toggle navigation
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand(href="#")
        RailsPress
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'Home', root_path
        %li
          %a(href="#") Blog
      %ul.nav.navbar-nav.navbar-right
        %li
          %a(href="#") Login
