.row
  .col-sm-12
    %form.form-inline.search-bar
      %input.btn.btn-default(type="submit" value="Search")
      .form-group
        %input.form-control(type="text")
  .col-sm-12
    %h4 Recent Posts
    %ul
      - @recent_posts.each do |post|
        %li
          = link_to post.title, blog_path(post)
  .col-sm-12
    %h4 Categories
    %ul
      - if @categories.empty?
        %li No Categories
      - else
        - @categories.each do |category|
          %li
            = link_to category.name, blog_category_path(category)
