.jumbotron#front-jumbotron
  .container
    .row
      .col-sm-12
        %h1
          RailsPress
          %br
          %small A lightweight CSM extension for Rails
.container#front-container
  .row
    .main-col.col-sm-8.col-lg-9
      %h1 Hello world!
      %p Welcome to RailsPress. This is your home page. By default, this homepage is created for you. There is also a blog page that lists your blog posts.
      %p Enter the admin panel to create, edit, update or delete your posts.
    .sidebar-col.col-sm-4.col-lg-3
      = render 'shared/sidebar'
