.container
  .row
    .main-col.col-sm-8.col-lg-9
      %h1 Blog
      = render partial: 'post', object: @post, locals: { is_preview: false }
    .sidebar-col.col-sm-4.col-lg-3
      = render 'shared/sidebar'
